[data-type="fct-gutenberg/group"] {
    border:1px dotted #444;
    padding:10px;
}

/* aligning tiles inside the group */

[data-type="fct-gutenberg/group"] .block-editor-block-list__layout {
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    justify-content:space-around;
}

[data-type="fct-gutenberg/group"] [data-type] {
    width:calc( 33.333% - 6.667px );
}
[data-type="fct-gutenberg/group"] [data-rows="2"] [data-type] {
    width:calc( 50% - 10px );
}