.fct-group {
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    justify-content:space-between;
}

.fct-group[data-rows="1"] > * {
    width:100%;
}
.fct-group[data-rows="2"] > * {
    width:calc( 50% - 55px );
}
.fct-group[data-rows="3"] > * {
    width:calc( 33.333% - 55px );
}
.fct-group[data-rows="4"] > * {
    width:calc( 25% - 55px );
}
.fct-group[data-rows="5"] > * {
    width:calc( 20% - 55px );
}
.fct-group[data-rows="6"] > * {
    width:calc( 16.666% - 40px );
}

@media (max-width:991px) {
    .wp-block-column .fct-group {
        justify-content:space-around;
    }
    .wp-block-column .fct-group[data-rows] > * {
        width:calc( 40% - 30px )!important;
    }
}

@media (max-width:792px) {
    .fct-group {
        justify-content:space-around;
    }
    .fct-group[data-rows] > * {
        width:calc( 50% - 30px )!important;
    }
    .wp-block-column .fct-group[data-rows] > * {
        width:100%!important;
    }
}

@media (max-width:539px) {
    .fct-group[data-rows] > * {
        width:100%!important;
    }
}