/* blog layout */

.blog-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog-content > * {
    width: 100%;
}
.blog-content > article {
    width: calc(33.333% - 40px);
    margin-bottom: 60px;
}

@media (max-width: 991px) {
    .blog-content > article {
        width: 100%;
    }
}


/* post preview / tile */
.post-preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.post-preview .post-thumbnail {
    display: block;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    background-color: var(--fct-background);
}
.post-preview .post-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}
@media (max-width: 767px) {
    .post-preview .post-thumbnail,
    .post-preview .post-thumbnail img {
        height: auto;
        max-height: 400px;
    }
}

.post-preview header {
    margin-bottom: 15px;
}
.post-preview header > * {
    margin: 0 0 12px;
}
.post-preview h2,
.post-preview h2 a {
    margin: 0;
    color: inherit;
    font-size: inherit;
    letter-spacing: 1px;
    text-decoration: none;
}
.post-preview .post-date {
    font-size: 90%;
    font-style: italic;
}
.post-preview .post-category {
    width: auto;
    position: absolute;
    right: 5px;
    top: 5px;
}
.post-preview .post-category a {
    display: inline-block;
    border-bottom: 1px solid #ddd;
    padding: 8px 12px 6px;
    background-color: white;
    color: var(--fct-hover);
    text-decoration: none;
}
.post-preview .post-excerpt {
    margin-top: 15px;
    margin-bottom: 22px;
}
.post-preview .post-excerpt > p {
    margin: 0;
}


.post-preview .post-button {
    width: auto;
    margin-top: auto;
    border-radius: 4px;
    padding: 8px 12px 6px;
    background-color: var(--fct-background);
    color: white;
    font-weight: bold;
    text-decoration: none;
}