.wrap-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article+nav {
    width: 100%;
}

article {
    --per: 1;
    --gap: 30px;
    width: calc((100% - (var(--gap) * (var(--per) - 1))) / var(--per));
    min-height: 0;
    margin-left: var(--gap);
    margin-bottom: 20px;
}

@media (max-width:499px) {
    article {
        margin-left: 0;
    }
}

@media (min-width:500px) and (max-width:991px) {
    article {
        --per: 2;
        --gap: 20px;
    }

    article:nth-child(2n+1) {
        margin-left: 0px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    article {
        --per: 3;
        --gap: 20px;
    }

    article:nth-child(3n+1) {
        margin-left: 0px;
    }
}

@media (min-width:1200px) {
    article {
        --per: 3;
    }

    article:nth-child(3n+1) {
        margin-left: 0px;
    }
}

article.status-private {
    opacity: 0.6;
    filter: saturate(50%);
}


article {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    background: linear-gradient(90deg, #d3d7da 50%, #a3a7aa 90%);
}


.entry-header {
    margin: 0;
    padding: 48px 20px;
    flex: 1;
    position: relative;
}

.entry-header>* {
    position: relative;
}

.entry-badges {
    position: absolute;
    top: 0;
    z-index: 5;
}

.entry-badges>* {
    display: inline-block;
    width: 20px;
    height: 33px;
    background-color: var(--a-color);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: 0 0;
    -webkit-mask-position: 0 0;
    mask-size: 100%;
    -webkit-mask-size: 100%;
    mask-image: var(--badge);
    -webkit-mask-image: var(--badge);
    --badge: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 82 135' version='1.1'%3E%3Cpath stroke='none' fill='%23ddd' d='m 0,0 v 134.5 L 41,93.5 82,134.5 V 0 Z'/%3E%3C/svg%3E%0A");
}

.entry-badges>*::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: center 28%;
}

.entry-verified::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' version='1.1'%3E%3Cpath fill='none' stroke='%23fff' stroke-width='9' d='M 4,21 19,37 46,9'/%3E%3C/svg%3E");
}

.entry-featured::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' version='1.1'%3E%3Cpath stroke='none' fill='%23fff' d='M 2,20 18,18 25,3 32,18 48,20 36,31 39,47 25,39 10,47 14,31 Z'/%3E%3C/svg%3E%0A");
}


.entry-header .entry-photo {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 58%;
    height: 100%;
}

.entry-header .entry-photo::before {
    content: '';
    position: absolute;
    left: -1px;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #d3d7da 2%, #d3d7da00 55%);
}

.entry-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.entry-header .entry-photo.entry-background {
    width: 100%;
}

.entry-header .entry-photo.entry-background::before {
    background: linear-gradient(90deg, #d3d7daff 6%, #d3d7da00 100%);
}

article h2 {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 65%;
    margin: 0;
    z-index: 3;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

article h2>a {
    color: var(--h-color);
    text-decoration: none;
}

.entry-details {
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: #d3d7da;
    flex-basis: 70px;
}

.entity-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 50px;
    padding: 2px;
    border: 1px solid #ffffff75;
    border-radius: 6px;
    background-color: #fff;
    box-sizing: border-box;
}

.entity-avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.entity-about {
    flex: 1;
    padding-left: 12px;
}

.entity-about>p {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.entity-about .cr_rating_bar {
    width: 50%;
    max-width: 115px;
    margin-top: 8px;
}

.entry-link-cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
}

.entry-header~footer {
    padding-left: 10px;
    color: #828689;
}

/* hover */
article {
    transition: box-shadow .2s ease-out;
}

article:hover {
    box-shadow: 2px 3px 11px -2px #00000099;
}

/* newer old hover */
/*
article {
    box-shadow:0px 0px 15px -10px #58acbcbb;
    transform-origin:center bottom;
    transition:box-shadow .2s ease-out, transform .2s ease-out;
}
article:hover {
    box-shadow:5px 8px 28px -10px #58acbcbb;
    transform:scale( 1.02 );
}
*/
/* old hover */
/*
.entry-header {
    transition:background-color 0.2s ease-out;
}
.entry-link-cover:hover + .entry-header {
    background-color:#e8ecef;
}

.entry-header .entry-photo {
    transition:width 0.3s ease-out;
}
.entry-link-cover:hover + .entry-header .entry-photo {
    width:100%;
}
.entry-header .entry-photo::before {
    transition:opacity 0.1s ease-out;
}
.entry-link-cover:hover + .entry-header .entry-photo::before {
    transition:opacity 0.2s 0.2s ease-in;
    opacity:0;
}

.entry-header .entry-photo + h2 {
    transition:opacity 0.3s ease;
}
.entry-link-cover:hover + .entry-header .entry-photo + h2 {
    opacity:0;
}
.entry-header .entry-photo ~ .entry-badges {
    transition:opacity 0.2s ease-out;
}
.entry-link-cover:hover + .entry-header .entry-photo ~ .entry-badges {
    opacity:0;
}
*/

/* gurenberg hero */
.fct1-hero {
    min-height: 40vh;
    position: relative;
}

.fct1-hero::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 63%;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 160 160'%3E%3Cpath fill='none' stroke='%23fff' stroke-width='3' d='m 158.5,80.3 c 0,43.5 -35.3,78.7 -78.7,78.7 -43.5,0 -78.8,-35.3 -78.8,-78.7 0,-43.5 35.3,-78.8 78.8,-78.8 43.5,0 78.7,35.3 78.7,78.8 z'/%3E%3Cg fill='none' stroke='%23fff' stroke-linejoin='round' stroke-width='3'%3E%3Cpath d='m 79,97.4 c -17.4,-14.2 0.2,-28.4 0.2,-28.4 0,0 17.9,13.6 0.4,28.5 z'/%3E%3Cpath d='m 79.2,69.9 -0,27'/%3E%3Cpath d='m 78.9,55.6 c -17.5,-14 -0,-28.4 -0,-28.4 0,0 18,13.5 0.6,28.4 z' /%3E%3Cpath d='m 78.9,28 0.2,27' /%3E%3Cpath d='M 60.4,38.3 C 38,36.6 44.4,14.8 44.4,14.8 c 0,0 22.5,1.1 16.5,23.2 z' /%3E%3Cpath d='M 45,15.5 60.3,37.8' /%3E%3Cpath d='m 41.9,60.1 c -21.5,6.6 -23.6,-15.9 -23.6,-15.9 0,0 21.3,-7.3 23.9,15.5 z' /%3E%3Cpath d='M 19.2,44.6 41.6,59.6' /%3E%3Cpath d='M 69.4,68.9 C 47.2,72.5 48.3,49.8 48.3,49.8 c 0,0 22.1,-4.3 21.5,18.6 z' /%3E%3Cpath d='M 49,50.4 69.2,68.3' /%3E%3Cpath d='M 46.3,88.2 C 24.1,91.8 25.2,69.1 25.2,69.1 c 0,0 22.1,-4.3 21.5,18.6 z' /%3E%3Cpath d='M 25.9,69.7 46.1,87.6' /%3E%3Cpath d='m 41.4,104.2 c -14.1,17.4 -28.5,-0.1 -28.5,-0.1 0,0 13.6,-17.9 28.5,-0.5 z' /%3E%3Cpath d='m 13.8,104 27,-0' /%3E%3Cpath d='M 71.1,113.2 C 50.4,122 46,99.7 46,99.7 c 0,0 20.4,-9.4 25.4,12.9 z' /%3E%3Cpath d='m 46.8,100.1 23.9,12.6' /%3E%3Cpath d='m 64.4,123.9 c -1.8,22.4 -23.5,16 -23.5,16 0,0 1.1,-22.4 23.2,-16.5 z' /%3E%3Cpath d='M 41.6,139.2 63.8,123.9' /%3E%3Cpath d='m 96.3,38.8 c 22.4,-1.8 16,-23.5 16,-23.5 0,0 -22.5,1.1 -16.5,23.2 z' /%3E%3Cpath d='M 111.7,16 96.4,38.3' /%3E%3Cpath d='m 116.3,60.3 c 21.5,6.6 23.6,-15.9 23.6,-15.9 0,0 -21.3,-7.3 -23.9,15.5 z' /%3E%3Cpath d='M 139.1,44.7 116.6,59.7' /%3E%3Cpath d='m 90.4,68.5 c 22.2,3.6 21.1,-19.1 21.1,-19.1 0,0 -22.1,-4.3 -21.5,18.6 z' /%3E%3Cpath d='M 110.8,49.9 90.6,67.9' /%3E%3Cpath d='m 109.9,87.8 c 22.2,3.6 21.1,-19.1 21.1,-19.1 0,0 -22.1,-4.3 -21.5,18.6 z' /%3E%3Cpath d='M 130.3,69.3 110.1,87.3' /%3E%3Cpath d='m 117,106.7 c 14.1,17.4 28.5,-0.1 28.5,-0.1 0,0 -13.6,-17.9 -28.5,-0.5 z' /%3E%3Cpath d='m 144.5,106.5 -27,-0' /%3E%3Cpath d='m 86.7,114.3 c 20.7,8.8 25.1,-13.4 25.1,-13.4 0,0 -20.4,-9.4 -25.4,12.9 z' /%3E%3Cpath d='M 111,101.3 87.1,113.9' /%3E%3Cpath d='m 95.1,123.6 c 1.8,22.4 23.5,16 23.5,16 0,0 -1.1,-22.4 -23.2,-16.5 z' /%3E%3Cpath d='M 118,139 95.7,123.7' /%3E%3Cpath d='M 79.2,55.6 V 159.6' /%3E%3Cpath d='m 86.4,114 v 45' /%3E%3Cpath d='m 71.5,112.8 v 45.5' /%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: auto 140%;
    opacity: 0.05;
    filter: blur(0.2rem);
    -webkit-filter: blur(0.2rem);
}

.fct1-hero>*:first-child {
    padding-top: var(--header-height-init);
    padding-bottom: var(--header-height-init);
    position: relative;
}

.blog .fct1-hero h1,
.archive .fct1-hero h1 small {
    text-transform: uppercase;
}

.fct1-hero p {
    font-weight: 300;
}


/* the filter form */
/* ++this css is shitty, and should not be here, probably */
.fcp-form-entity-search {
    --heartrate: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg fill='none' stroke='%2323667b' stroke-width='1.2'%3E%3Cpath d='m 3.4,9.8 4.6,4.6 C 10,12.5 14,8.5 14,8.5 14.8,7.8 15.2,6.8 15.2,5.8 15.2,3.7 13.5,2 11.4,2 10,2 8.8,2.7 8,3.8 7.4,2.7 6.2,2 4.8,2 3,2 1.3,3.4 1,5.2' /%3E%3Cpath d='M 0.7,7.7 H 4.5 L 6,5 8,10 10.2,7.7 h 4.2'  stroke-width='0.6'/%3E%3C/g%3E%3C/svg%3E");
    --marker: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg fill='none' stroke='%2323667b' stroke-width='0.8'%3E%3Cpath d='m 3,5.8 c 0,-2.8 2,-5 4.95,-5 2.7,0 5,2.2 4.95,5 0,3 -4.9,9.6 -4.9,9.5 0,0 -5,-6.5 -5,-9.5 z' /%3E%3Cellipse stroke-width='0.5' ry='2.76' rx='2.76' cx='8' cy='5.7' /%3E%3C/g%3E%3C/svg%3E");

    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 35px;
    filter: saturate(0.1);
}

@media (min-width:540px) {
    .fcp-form-entity-search {
        flex-wrap: nowrap;
    }
}

/* section */
.fcp-form-entity-search {
    position: relative;
    z-index: 6;
}

.fcp-form-entity-search .fcp-form-field-w {
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;
}

@media (min-width:540px) {
    .fcp-form-entity-search .fcp-form-field-w {
        width: auto;
        margin-right: 16px;
    }
}

.fcp-form-entity-search .fcp-form-field-w>* {
    width: 100%;
    margin-bottom: 0;
}

.fcp-form-entity-search .fcp-form-field-w>span {
    display: none;
}

@media (min-width:540px) {
    .fcp-form-entity-search .fcp-form-field-w>span {
        display: flex;
        align-items: center;
        width: auto;
        text-transform: none;
        align-items: center;
    }
}

.fcp-form-entity-search input {
    display: inline-block;
    width: 100% !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    -webkit-appearance: none;
    background-repeat: no-repeat;
    background-position: 9px 50%;
    background-size: 18px;
    border: none !important;
    border-radius: 2px !important;
    font-size: 14px !important;
}

@media (min-width:540px) {
    .fcp-form-entity-search input {
        max-width: 200px;
    }
}

#specialty_entity-search {
    padding-left: 35px;
    background-image: var(--heartrate);
}

#place_entity-search {
    padding-left: 35px;
    background-image: var(--marker);
    background-size: 20px;
}

.fcp-form--main.fcp-form-entity-search input::-webkit-input-placeholder {
    color: var(--h-color);
    font-weight: 400;
    text-transform: none;
}

.fcp-form--main.fcp-form-entity-search input::placeholder {
    color: var(--h-color);
    font-weight: 400;
    text-transform: none;
}

.fcp-form--main.fcp-form-entity-search input[type=submit] {
    border: 1px solid var(--h-color) !important;
    border-radius: 16px !important;
    font-size: 12px !important;
}