/* front page styling */
/* gurenberg hero */
.fct1-hero {
    min-height:100vh;
    padding:0!important;
}
.fct1-hero::after {
    content:none;
}

.fct1-hero > * {
    padding-top:var(--header-height-init);
    padding-bottom:var(--header-height-init);
    position:relative;
    overflow:hidden;
    min-height:50vh;
}
.fct1-hero .wp-block-image img {
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    object-fit:cover;
    object-position:center center;
}

.fct1-hero .wp-block-column > * {
    max-width:540px;
    margin:var(--header-height-init) auto 0;
}

.fct1-hero h1 {
    font-size:45px;
    text-transform:uppercase;
}