/* layout with columns */
#main-content {
    display: grid;
    grid-template-areas:
        "sidebar-left article sidebar-right";
    grid-gap: 10px;
    justify-content: center;
    align-items: stretch;
    --columns-divider: 1px dotted var(--fct-border-separate);
}
#main-content > * {
    box-sizing: border-box;
}
#main-content h2 {
    font-size: 28px;
}
.sidebar-left {
    grid-area: sidebar-left;
    width: 330px;
    border-right: var(--columns-divider);
}
article {
    grid-area: article;
    max-width: 672px;
}
.sidebar-right {
    grid-area: sidebar-right;
    width: 315px;
    border-left: var(--columns-divider);
}

@media(max-width: 1160px) {
    #main-content {
        grid-template-areas:
            "article sidebar-left"
            "article sidebar-right"
            "article .";
    }
    .sidebar-left,
    .sidebar-right {
        border-right: none;
        border-left: var(--columns-divider);
    }
}
@media(max-width: 800px) {
    #main-content {
        grid-template-areas:
            "article"
            "sidebar-left"
            "sidebar-right";
    }
    #main-content > * {
        justify-self: center;
        border: none;
    }
}


aside {
    padding-top: 28px;
}
.has-meta ~ aside {
    padding-top: 66px;
}

aside h2 {
    font-size: 23px;
    letter-spacing: 0.5px;
}
article h1 + .post-meta {
    margin: -15px 0 25px;
}


/* if no sidebars behavior */
.fct-no-aside-left #main-content {
    grid-template-areas:
        "article sidebar-right";
}
.fct-no-aside-right #main-content {
    grid-template-areas:
        "sidebar-left article";
}
.fct-no-aside-left.fct-no-aside-right #main-content {
    grid-template-areas:
        "article";
}

@media(max-width: 800px) {
    .fct-no-aside-left #main-content {
        grid-template-areas:
            "article"
            "sidebar-right";
    }
    .fct-no-aside-right #main-content {
        grid-template-areas:
            "article"
            "sidebar-left";
    }
}

.fct-no-aside-left #main-content article,
.fct-no-aside-right #main-content article {
    max-width: 760px;
}


/* gutenberg & content improvements */

/* fix in case of floating images */
h1,
h2,
h3 {
    clear: both;
}

@media (min-width:768px) {

    .post-content .wp-block-image {
        margin: 32px auto !important;
        text-align: center;
    }

    .post-content .wp-block-embed {
        margin: 32px auto !important;
        padding: 0;
    }

    .post-content>.wp-caption {
        /* legacy classic editor hotfix */
        margin: 32px auto !important;
        padding: 0;
    }

    .wp-block-image .alignleft,
    .wp-block-image .alignright {
        position: relative;
        z-index: 3;
        margin-top: 0;
    }

    .wp-block-image .alignleft {
        margin-right: 50px;
    }

    .wp-block-image .alignright {
        margin-left: 50px;
    }

    .wp-block-image figcaption {
        font-weight: 400;
    }

}

.post-content ul,
.post-content ul li {
    list-style-type: none;
}

.post-content li {
    padding-left: 24px;
    font-size: 16px;
}

.post-content ul li::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: -23px;
    margin-right: 15px;
    border-radius: 50%;
    font-size: 16px;
    background-color: var(--fct-link);
}

/* crutches */
aside .schla-adlabel {
    display: none;
}

/* toc */
.lwptoc_i {
    padding: 0;
}
.lwptoc_i a {
    font-size: 14px;
}
.lwptoc_i a:not(:hover) {
    text-decoration: none
}