/* search layout */

.search-content {
    max-width: 800px;
}

.search-content header {
    margin-bottom: 60px;
}

/* post preview / row */
.post-preview {
    display: grid;
    grid-template-areas:
        "post-thumbnail post-header"
        "post-thumbnail post-excerpt"
        "post-thumbnail post-footer"
        "post-thumbnail ."
        "post-thumbnail post-readmore";
    grid-template-columns: 200px 1fr;
    grid-gap: 10px 25px;
    align-items: start;

    margin-bottom: 45px;
    border-bottom: 1px dotted var(--fct-border-separate);
    padding-bottom: 35px;
}
@media (max-width: 700px) {
    .post-preview {
        grid-template-areas:
            "post-thumbnail"
            "post-header"
            "post-excerpt"
            "post-footer"
            "post-readmore";
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}
.post-preview * {
    margin:0;
}

.post-preview .post-thumbnail {
    grid-area: post-thumbnail;
    width: 100%;
    border: 1px solid var(--fct-border-easy);
    padding-bottom: 100%;
    position: relative;
    background-color: var(--fct-background);
}
.post-preview .post-thumbnail img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}
@media (max-width: 700px) {
    .post-preview .post-thumbnail {
        width: 300px;
        padding-bottom: 300px;
    }
}

.post-preview header {
    grid-area: post-header;
}

.post-preview h2,
.post-preview h2 a {
    color: inherit;
    font-size: inherit;
    letter-spacing: 1px;
    text-decoration: none;
}
.post-preview .post-date {
    font-size: 90%;
    font-style: italic;
}
.post-preview .post-category {
    font-size: 90%;
}
.post-preview .post-excerpt {
    grid-area: post-excerpt;
}
.post-preview .post-footer {
    grid-area: post-footer;
}

.post-preview .post-button {
    grid-area: post-readmore;
    width: fit-content;
    border: 1px solid var(--fct-background);
    border-radius: 4px;
    padding: 8px 12px 6px;
    font-weight: normal;
    text-decoration: none;
}