:root {
    --blog-main-color: #0b4562;
    --h-color: var(--blog-main-color);
    --a-color: var(--blog-main-color);
}

body::before {
    background: var(--blog-main-color);
}

h1,
nav {
    width: 100%;
}

@media (min-width:1200px) {
    .wrap-width {
        --content-max-width: 850px;
    }
}

@media (min-width:1400px) {
    .wrap-width {
        --content-max-width: 900px;
    }
}

article {
    display: flex;
    gap: 30px;
    width: 100%;
    padding-bottom: 32px;
    margin-bottom: 70px;
}

article.status-private {
    opacity: 0.7;
    filter: saturate(50%);
}

.entry-photo {
    flex-shrink: 0;
    border: 9px solid #f0f0f0;
    box-sizing: border-box;
    background: linear-gradient(223deg, #0b456229 0%, #0b45625c 100%);
}
.entry-photo > a {
    display: block;
    width: 100%;
    height: 100%;
}
.entry-photo {
    width: 150px;
    height: 150px;
}

@media (min-width:767px) {
    .entry-photo {
        width: 250px;
        height: 250px;
    }
}

.entry-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.entry-header {
    margin-bottom: 20px;
}

article h2 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: var(--a-color);
}

article h2>a {
    display: block;
    text-decoration: none;
    color: var(--a-color);
}

.entry-excerpt,
.entry-excerpt * {
    margin: 0;
    font-weight: 300;
    color: var(--blog-main-color);
}

.entry-excerpt {
    margin-bottom: 10px;
}

.entry-meta {
    margin-top: 20px;
}

.entry-meta,
.entry-meta * {
    font-weight: 300;
    color: #5c6569;
}