/* first screen css to print in head */

/* inits */
* {
    font-weight: 400;
}
* > * {
    font-weight: inherit;
}

html {
    scroll-behavior: smooth;
    /* initial value changed by common.js later to better pick the scroll position */
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 30px 0 23px;
    font-size: 40px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--fct-hover);
}

h1>strong {
    font-weight: 800;
    letter-spacing: 1px;
}

h2 {
    margin: 35px 0 23px;
    font-size: 32px;
    line-height: 1.45;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--fct-hover);
}

h3 {
    margin: 30px 0 23px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 600;
    color: var(--fct-hover);
}

p {
    margin: 17px 0 22px;
    font-size: 18px;
    line-height: 1.6;
}


/* site header & top navigation */
/* settings */

/* screenreader */
.skip-links {
    margin: 0;
}

.skip-links li {
    height: 0;
    width: 0;
    margin: 0;
    list-style: none;
}

.screen-reader-shortcut,
.screen-reader-text {
    background-color: white;
    color: black;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    font-family: sans-serif;
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}


/* top bar ++move to settings */
:root {
    --nav-top-background: #ffffff;
    --nav-top-color: #60615f;
    --nav-top-hover-bg: #fafafa;
    --nav-top-current-bg: #dceaf6;
    --hamburger: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg%0Afill='none' stroke='black' stroke-width='1.5' stroke-linecap='square'%3E%3Cpath d='M 1.5,3.5 H 14.5'%0A/%3E%3Cpath d='M 1.5,8 H 14.5'%0A/%3E%3Cpath d='M 1.5,12.5 H 14.5'%0A/%3E%3C/g%3E%3C/svg%3E") center / contain no-repeat;
    --common-shadow: #00000012;
}

.nav-top {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 11;
    background: var(--nav-top-background);
    box-shadow: 0px 3px 4px var(--common-shadow);
}

.nav-top > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    position: relative;
}

.nav-top li {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* logo */
.custom-logo-link {
    width: fit-content;
}
.custom-logo-link img {
    width: auto;
    height: 40px;
    margin: 12px 0;
}
span.custom-logo-link {
    transition: opacity .3s ease-out, filter .3s ease-out;
}
body.home .nav-top:not(.stuck) span.custom-logo-link {
    opacity: 0;
    filter: saturate(0);
}

/* desktop */
@media (min-width:1200px) {

    .nav-top ul {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
        gap: 12px;
        margin: 0;
        padding: 12px 0;
    }

    .nav-top .sub-menu {
        /* ul > li > ul */
        position: absolute;
        left: 0;
        top: 100%;
        width: auto;
        min-width: 125%;
        margin: 0;
        padding: 0;
        gap: 0;
        background: var(--nav-top-background);
        box-shadow: 0px 4px 4px var(--common-shadow);
    }

    .nav-top .sub-menu li {
        width: 100%;
    }

    /* transitions */
    .nav-top .sub-menu {
        z-index: -1;
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;
        transition: opacity 0.3s ease-out, transform 0.3s ease-out, z-index 0.4s linear;
    }

    .nav-top li:hover>.sub-menu {
        z-index: 11;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        transition: opacity 0.5s ease, transform 0.4s ease-out, z-index 0.4s linear;
    }

    .nav-top ul a {
        padding: 10px 16px;
    }
}

    /* mobile */
#nav-top-toggle,
.hamburger {
    display: none;
}

@media (max-width:1199px) {
    .hamburger {
        display: block;
        width: fit-content;
        position: relative;
        line-height: 1;
        cursor: pointer;
        border:1px solid transparent;
    }

    .hamburger::after {
        content: '';
        display: block;
        width: 21px;
        height: 21px;
        margin: 16px;
        mask: var(--hamburger);
        -webkit-mask: var(--hamburger);
        background-color: var(--nav-top-color);
    }

    .hamburger+* { /* the menu */
        display: block;
        width: 100%;
        max-width: 420px;
        max-height: 80vh;
        overflow-Y: auto;
        position: absolute;
        right: 0;
        top: 100%;
        background: var(--nav-top-background);
        box-shadow: 0px 4px 4px var(--common-shadow);
    }

    .nav-top ul {
        margin: 0;
        padding: 0 0 0 20px;
    }
    .nav-top ul:not(.sub-menu) {
        padding: 5px;
    }

    .nav-top ul a {
        padding: 6px 10px;
    }

    /* transitions */
    .hamburger+* {
        z-index: -1;
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;
        transition: opacity 0.3s ease-out, transform 0.3s ease-out, z-index 0.4s linear;
    }

    #nav-top-toggle:checked+.nav-top .hamburger+* {
        z-index: 11;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        transition: opacity 0.5s ease, transform 0.4s ease-out, z-index 0.4s linear;
    }

}

/* menu links styling */
.nav-top ul a {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--nav-top-color);
    background-color: transparent;
    text-decoration: none;
    font-weight: 400;
    transition: background-color 0.2s ease-out;
}

.nav-top ul li:hover>a,
.nav-top ul a:hover {
    background-color: var(--nav-top-hover-bg);
}

body:not(.home) .nav-top li.current-menu-ancestor>a,
body:not(.home) .nav-top li.current-menu-item>a {
    /* border-bottom:1px solid var(--nav-top-color); */
    background-color: var(--nav-top-current-bg);
}

/* scroll tracking */
#nav-top-scroll-trigger {
    height: 1px;
    margin-top: -1px;
}
.nav-top {
    transition: transform 0.4s ease-out;
}

.scrollingDown #nav-top-toggle:not(:checked)+.nav-top.stuck {
    transform: translateY(-100%);
    transition: transform 0.4s 0.4s ease-out;
}

.scrollingDown .nav-top:hover {
    transform: translateY(0);
}

/* header */
.site-header { /* for sake of background image tumbler */
    position: relative;
    overflow: hidden;
}

/* gutenberg columns copy for first screen from /wp-includes/css/dist/block-library/style.css */
.wp-block-columns {
    display: flex;
    margin-bottom: 1.75em;
    flex-wrap: wrap;
    /**
  * All Columns Alignment
  */
}

@media (min-width: 782px) {
    .wp-block-columns {
        flex-wrap: nowrap;
    }
}

.wp-block-columns.has-background {
    padding: 1.25em 2.375em;
}

.wp-block-columns.are-vertically-aligned-top {
    align-items: flex-start;
}

.wp-block-columns.are-vertically-aligned-center {
    align-items: center;
}

.wp-block-columns.are-vertically-aligned-bottom {
    align-items: flex-end;
}

.wp-block-column {
    flex-grow: 1;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
    /**
  * Individual Column Alignment
  */
}

@media (max-width: 599px) {
    .wp-block-column {
        flex-basis: 100% !important;
    }
}

@media (min-width: 600px) and (max-width: 781px) {
    .wp-block-column:not(:only-child) {
        flex-basis: calc(50% - 1em) !important;
        flex-grow: 0;
    }

    .wp-block-column:nth-child(even) {
        margin-left: 2em;
    }
}

@media (min-width: 782px) {
    .wp-block-column {
        flex-basis: 0;
        flex-grow: 1;
    }

    .wp-block-column[style*=flex-basis] {
        flex-grow: 0;
    }

    .wp-block-column:not(:first-child) {
        margin-left: 2em;
    }
}

.wp-block-column.is-vertically-aligned-top {
    align-self: flex-start;
}

.wp-block-column.is-vertically-aligned-center {
    -ms-grid-row-align: center;
    align-self: center;
}

.wp-block-column.is-vertically-aligned-bottom {
    align-self: flex-end;
}

.wp-block-column.is-vertically-aligned-top,
.wp-block-column.is-vertically-aligned-center,
.wp-block-column.is-vertically-aligned-bottom {
    width: 100%;
}


/* gutenberg & layout sizes */
.gutenberg-container {
    --content-max-width: 100%;
}

@media (min-width:768px) {

    .gutenberg-container {
        --content-max-width: 640px;
    }
}

@media (min-width:992px) {

    .gutenberg-container>* {
        --content-max-width: 860px;
    }
}

@media (min-width:1200px) {

    .gutenberg-container>* {
        --content-max-width: 1100px;
    }
}

@media (min-width:1400px) {

    .gutenberg-container>* {
        --content-max-width: 1250px;
    }
}

.gutenberg-container>* {
    width: 100%;
    max-width: var(--content-max-width);
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.gutenberg-container>*:first-child {
    margin-top: 0 !important;
}
.gutenberg-container>*:last-child {
    margin-bottom: 0 !important;
}

/* full-width blocks > .alignfull */
.gutenberg-container>.alignfull {
    max-width: none;
    padding: 40px 0;
}

.gutenberg-container>.alignfull>.wp-block-column:first-child {
    padding-left: 15px;
}

.gutenberg-container>.alignfull>.wp-block-column:last-child {
    padding-right: 15px;
}

@media (max-width:599px) {
    .gutenberg-container>.alignfull>.wp-block-column {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.gutenberg-container>figure.alignfull {
    padding: 0;
}

/* full-width blocks > .alignwide */
.gutenberg-container>.alignwide {
    max-width: none;
    margin: 0;
    padding: 40px calc((100% - var(--content-max-width)) / 2 + 15px) !important;
}


/* other gutenberg improvements */
@media (min-width:600px) {
    body .wp-block-columns {
        flex-wrap: nowrap;
    }
}

@media (max-width:599px) {
    body .wp-block-column:not(:first-child) {
        margin-top: 28px;
    }
}

body .gutenberg-container .wp-block-image {
    margin-top: 0;
    margin-bottom: 16px;
}

.wp-block-column>*:first-child {
    margin-top: 17px !important;
}

.wp-block-column.has-background {
    padding: 20px 20px 32px;
}

.is-vertical .wp-block-navigation__container {
    gap: 0;
}

.wp-block-search__inside-wrapper {
    border: 0;
    padding: 0;
}
.wp-block-search__input,
.wp-block-search__button {
    font-size: inherit;
    font-weight: inherit;
    border-radius: 4px;
}

/* gutenberg sidebar */
.gutenberg-sidebar>* {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.gutenberg-sidebar>*:first-child {
    margin-top: 0 !important;
}
.gutenberg-sidebar>*:last-child {
    margin-bottom: 0 !important;
}
body .gutenberg-sidebar .wp-block-image {
    margin-top: 0;
    margin-bottom: 16px;
}

/* gutenberg image as background */
/* turns to the background for a relative & overflow-hidden parent */
.wp-block-image.fct-img-to-bg img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* turns the columns into tiles */
.fct-col-to-tile {
    --tiles-gap: 50px;
}
@media (max-width: 1399px) {
    .fct-col-to-tile {
        --tiles-gap: 40px;
    }
}
@media (max-width: 1199px) {
    .fct-col-to-tile {
        --tiles-gap: 30px;
    }
}
.fct-col-to-tile {
    gap: var(--tiles-gap);
}
.fct-col-to-tile .wp-block-column {
    margin-left: 0;
    margin-bottom: var(--tiles-gap);
    border-radius: 8px;
    padding: calc( var(--tiles-gap) / 3 * 2 ) calc( var(--tiles-gap) / 2 );;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 3px 4px var(--common-shadow);
}
.fct-col-to-tile .wp-block-column > *:first-child {
    margin-top: 0!important;
}
.fct-col-to-tile .wp-block-column > *:last-child {
    margin-bottom: 0!important;
}
.fct-col-to-tile .wp-block-column img {
    border: 1px solid var(--fct-border-easy);
    box-sizing: border-box;
    width: 100%;
    height: 130px;
    object-fit: cover;
    object-position: center top;
    background-color: var(--fct-background);
}
@media (max-width: 781px) {
    .fct-col-to-tile .wp-block-column img {
        height: auto;
    }
}

/* breadcrumbs, crutch */
.yoast-breadcrumbs,
.rank-math-breadcrumb {
    position: absolute;
    bottom: 0;
}

.yoast-breadcrumbs *,
.rank-math-breadcrumb * {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

/* ymyl author verified top badge */
.vv-author-verified {
	display:block;
	margin:0 0 36px;
	padding:0 0 30px;
	box-sizing:border-box;
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='40' height='41' version='1.1' viewBox='0 0 10.583333 10.847917' xmlns='http://www.w3.org/2000/svg' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage'/%3E%3Cdc:title/%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cg transform='translate(0 -286.15)'%3E%3Cpath d='m8.1637 296.35-1.9459-0.3159-1.7205 0.96237-1.2875-1.4928-1.9366-0.36866-0.026785-1.9712-1.2465-1.5272l1.2465-1.5272 0.026785-1.9711 1.9366-0.36867 1.2875-1.4928 1.7205 0.96238 1.9459-0.31591 0.69934 1.8431 1.6937 1.0088-0.649 1.8614 0.649 1.8614-1.6937 1.0088z' fill='%2378b0de' style='paint-order:normal'/%3E%3Cpath d='m2.6505 292.27 0.69919-0.91671 1.5803 1.2706 2.8479-3.275 0.8701 0.80795-3.5225 4.1137z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
	background-position:25px 20px;
	background-repeat:no-repeat;
	background-size:41px 40px;
	border-bottom:1px dotted var(--fct-border-separate);
}
.vv-author-verified.vv-ymyl-post {
	margin-top:15px;
	padding-top:30px;
	border-top:1px dotted var(--fct-border-separate);
	background-position:25px 60px;
}
.vv-verified-content {
	display:block;
	margin:0 0 0 95px;
	padding:0;
	box-sizing:border-box;
    font-size: 13px;
}
.vv-verified-content > p:last-child {
	margin-bottom:0;
    font-size: 13px;
}
.vv-verified-title {
	display:block;
	margin-bottom:10px;
	font-weight:bold;
}

@media (max-width:600px){
	.vv-author-verified {
		background:none;
	}
	.vv-verified-content {
		margin-left:0;
		text-align:center;
	}
}