/* first screen css to print in head */

/* inits */
:root {
    --str-color:#2C3538;
    --h-color:#2C3538;
    --a-color:#0087A0;
}

html {
    scroll-behavior:smooth; /* initial value */
}
body {
	margin:0;
	padding:0;
}
body * {
	font-family:'Jost', sans-serif;
}

h1 {
    margin:30px 0 23px;
    font-size:42px;
    line-height:1.5;
    font-weight:700;
    letter-spacing:2px;
    color:var(--h-color);
}
h1 > strong {
    font-size:105%;
    letter-spacing:0.105em;
}
h2 {
    margin:35px 0 23px;
    font-size:42px;
    line-height:1.45;
    font-weight:700;
    letter-spacing:2px;
    color:var(--h-color);
}
h3 {
    margin:30px 0 23px;
    font-size:36px;
    line-height:1.5;
    font-weight:400;
    color:var(--h-color);
}
p {
    margin:17px 0 22px;
    font-size:18px;
    line-height:1.6;
    font-weight:300;
}


/* site header & top navigation */
    /* settings */
body {
    --header-height-init:100px;
    --header-height-mobile:60px;
    --header-height-scroll:60px;
    --header-under-bg:linear-gradient(60deg, #277888 10%, #58acbc 90%); /* if header is transparent */
    --hamburger:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg%0Afill='none' stroke='black' stroke-width='1.5' stroke-linecap='square'%3E%3Cpath d='M 1.5,3.5 H 14.5'%0A/%3E%3Cpath d='M 1.5,8 H 14.5'%0A/%3E%3Cpath d='M 1.5,12.5 H 14.5'%0A/%3E%3C/g%3E%3C/svg%3E") center / contain no-repeat;
    --header-height:var(--header-height-init);
    --header-logo-height:calc( var(--header-height) * 0.8 );
    --header-logo-gap:calc( var(--header-height) * 0.1 );
}
.site-header {
    --bg:transparent;
    --bg-h:#fff; /* -h is for hover */
    --link-color:#fff;
    --link-color-h:#fff;
    --link-bg:transparent;
    --link-bg-h:transparent;
}
.scrolled .site-header,
.site-header:hover,
.scrolled .site-header:hover,
#nav-primary-toggle:checked + .site-header {
    --bg:#fff;
    --bg-h:#fff;
    --link-color:#000;
    --link-color-h:#000;
    --link-bg:transparent;
    --link-bg-h:transparent;
}

@media (min-width:950px) {
    body.scrolled {
        --header-height:var(--header-height-scroll);
    }
}
@media (max-width:949px) {
    body {
        --header-height:var(--header-height-mobile);
    }
}

    /* header */
        /* layout */
body::before {
    content:'';
    display:block;
    height:var(--header-height);
    background:var(--header-under-bg);
}
.site-header {
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:11;
    background:var(--bg);
    transition:background 0.3s, transform 0.3s ease;
}
.site-header .header-wrap {
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    max-width:none;
    margin-left:auto;
    margin-right:auto;
    padding-left:15px;
    padding-right:15px;
    box-sizing:border-box;
}
.custom-logo-link {
    line-height:0;
}
.custom-logo-link img {
    width:auto;
}

        /* transitions */
.site-header:hover {
    background:var(--bg-h);
}
.scrollingDown .site-header {
    transform:translateY(-100%);
    transition:background 0.3s, transform 0.3s 0.4s ease;
}
.scrollingDown .site-header:hover,
.scrollingDown #nav-primary-toggle:checked + .site-header {
    transform:translateY(0);
}
.custom-logo-link {
    margin:var(--header-logo-gap) 0;
    transition:margin 0.3s ease;
}
.custom-logo-link img {
    max-height:var(--header-logo-height);
    transition:max-height 0.3s ease;
}
            /* exception for logo */
.custom-logo-link {
    transition:filter 0.3s;
}
.scrolled .custom-logo-link,
.site-header:hover .custom-logo-link,
#nav-primary-toggle:checked + .site-header .custom-logo-link {
    filter:invert(100%);
}

    /* menu layout */
@media (min-width:950px) {
    .nav-primary .menu {
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        justify-content:flex-end;
        margin:0;
        padding:0;
    }
    .nav-primary .menu > li {
        display:flex;
        position:relative;
    }
    .nav-primary .sub-menu {
        position:absolute;
        left:0;
        top:100%;
        z-index:2;
        width:auto;
        min-width:125%;
        margin:0;
        padding:0;
        box-sizing:border-box;
        overflow:hidden;
        background:var(--bg-h);
    }
    .nav-primary .menu > li:last-child .sub-menu {
        left:auto;
        right:0;
    }

        /* transitions */
    .nav-primary .sub-menu {
        max-height:0;
        transition:max-height 0.2s ease;
    }
    .nav-primary li:hover > .sub-menu {
        max-height:100vh;
        transition:max-height 0.6s ease;
    }
}
@media (max-width:949px) {
    .nav-primary .menu {
        margin-top:0;
        padding-left:0;
    }
    .nav-primary .menu li {
        display:block;
    }
    .nav-primary .sub-menu {
        margin:0;
        padding:0 0 0 16px;
    }
}
.nav-primary li {
    list-style:none;
    margin:0;
    padding:0;
}
.nav-primary .sub-menu > li:first-child {
    margin-top:4px;
}
.nav-primary .sub-menu > li:last-child {
    margin-bottom:4px;
}

    /* menu links */
.nav-primary a {
    font-size:15px;
    font-weight:400;
    line-height:1.5;
    text-decoration:none;
    text-transform:uppercase;
}
.nav-primary .sub-menu a {
    display:block;
    text-transform:none;
}

        /* transitions */
.site-header .nav-primary a {
    color:var(--link-color);
    background:var(--link-bg);
    transition:color 0.3s ease, background 0.3s ease;
}
.site-header .nav-primary li:hover > a,
.site-header .nav-primary li.current-menu-item > a {
    color:var(--link-color-h);
    background:var(--link-bg-h);
}

@media (min-width:950px) {
    .nav-primary a {
        padding:14px 12px;
    }
    .nav-primary .sub-menu a {
        padding:6px 14px;
    }
    .site-header .nav-primary li.current-menu-parent > a { /* highlight the parent on desktop, as obvious on mobile */
        color:var(--link-color-h);
        background:var(--link-bg-h);
    }
}
@media (max-width:949px) {
    .nav-primary a {
        display:block;
        margin-bottom:2px;
        padding:7px 15px 6px;
    }
    .nav-primary .sub-menu a {
        padding:5px 15px 4px;
    }
    .nav-primary .sub-menu a::before {
        content:'- ';
    }
}

    /* hamburger */
#nav-primary-toggle,
.site-header .toggle-label {
    display:none;
}

@media (max-width:999px) {
    #nav-primary-toggle {
        display:block;
        position:fixed;
        z-index:-1;
        opacity:0;
        pointer-events:none;
    }
    .site-header .toggle-label {
        display:block;
        padding:16px 16px;
        position:relative;
        line-height:1;
        cursor:pointer;
    }
    .site-header .toggle-label::before {
        --gap:4px;
        content:'';
        width:calc(100% - var(--gap) * 2);
        height:calc(100% - var(--gap) * 2);
        position:absolute;
        left:var(--gap);
        top:var(--gap);
    }
    .site-header .toggle-label::after {
        content:'';
        display:block;
        width:21px;
        height:21px;
        mask:var(--hamburger);
        -webkit-mask:var(--hamburger);
    }
    .site-header .toggle-label + * {
        display:block;
        width:100%;
        max-width:420px;
        margin:0;
        padding:20px 25px;
        box-sizing:border-box;
        position:absolute;
        top:100%;
        right:-100vw;
        background:var(--bg-h);
        transition:right 0.6s ease;
    }
    #nav-primary-toggle:checked + .site-header .toggle-label + * {
        right:0;
    }

        /* hamburher colors */
    .site-header .toggle-label::before {
        background:var(--link-bg);
        transition:background 0.3s ease;
    }
    .site-header .toggle-label:hover::before {
        background:var(--link-bg-h);
    }
    .site-header .toggle-label::after {
        background:var(--link-color);
        transition:background 0.3s ease;
    }
    .site-header .toggle-label:hover::after {
        background:var(--link-color-h);
    }
}


/* iconed menu items */
.site-header {
    --i-dummy:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Ccircle fill='none' stroke='black' stroke-width='.5' r='7.5' cy='8' cx='8' /%3E%3C/svg%3E%0A");
    --i-user-filled:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg fill='black' stroke='black' stroke-width='.5'%3E%3Ccircle r='3.7' cy='4.3' cx='8'%0A/%3E%3Cpath d='m 10,9 c -1.5,0.7 -2.8,0.7 -4,0 -3,0 -4.3,2.1 -4.4,3.9 v 1.22 c 0,0.8 0.6,1.4 1.4,1.4 H 13 c 0.8,0 1.4,-0.6 1.4,-1.4 v -1.2 c 0,-1.8 -1.7,-3.9 -4.4,-3.94 z' /%3E%3C/g%3E%3C/svg%3E%0A");
}

.menu-iconed {
    white-space:nowrap;
}
.menu-iconed > a::before {
	content:' ';
	display:inline-block;
    vertical-align:top;
    width:2ch;
    height:2ch;
    margin:1px 12px 0 0;
    line-height:0;
    mask:var(--i-dummy) center / contain no-repeat;
    -webkit-mask:var(--i-dummy) center / contain no-repeat;
}
@media (min-width:950px) { /* hide the text on desktop */
    .menu-iconed.menu-hide-content > a {
        width:2ch;
        overflow:hidden;
    }
}
.menu-iconed.i-user-filled > a::before {
    mask-image:var(--i-user-filled);
    -webkit-mask-image:var(--i-user-filled);
}
.menu-iconed > a::before {
    background:var(--link-color);
    transition:background 0.3s ease;
}
.menu-iconed:hover > a::before {
    background:var(--link-color-h);
}

/* menu new design */
.nav-primary a::after {
    content:'';
    width:0;
    height:1px;
    position:absolute;
    left:50%;
    /*bottom:12px;*/
    margin-top:24px;
    background:var(--link-color);
    transition:left 0.2s ease-out, width 0.2s ease-out;
}
.nav-primary li:hover > a::after,
.nav-primary li.current-menu-item > a::after {
    width:calc(100% - 24px);
    left:12px;
}
@media (min-width:950px) {
    .nav-primary li.current-menu-parent > a::after {
        width:calc(100% - 24px);
        left:12px;
    }
}

/* screenreader */
.skip-links {
	margin:0;
}
.skip-links li {
	height:0;
	width:0;
	margin:0;
	list-style:none;
}
.screen-reader-shortcut, .screen-reader-text, .screen-reader-text span {
	background-color:#fff;
	border:0;
	clip:rect(1px,1px,1px,1px);
	color:#222;
	font-family:sans-serif;
	height:1px;
	overflow:hidden;
	position:absolute!important;
	width:1px;
	word-wrap:normal!important;
}


/* gutenberg columns copy for first screen from /wp-includes/css/dist/block-library/style.css */
.wp-block-columns {
  display: flex;
  margin-bottom: 1.75em;
  flex-wrap: wrap;
  /**
  * All Columns Alignment
  */
}
@media (min-width: 782px) {
  .wp-block-columns {
    flex-wrap: nowrap;
  }
}
.wp-block-columns.has-background {
  padding: 1.25em 2.375em;
}
.wp-block-columns.are-vertically-aligned-top {
  align-items: flex-start;
}
.wp-block-columns.are-vertically-aligned-center {
  align-items: center;
}
.wp-block-columns.are-vertically-aligned-bottom {
  align-items: flex-end;
}

.wp-block-column {
  flex-grow: 1;
  min-width: 0;
  word-break: break-word;
  overflow-wrap: break-word;
  /**
  * Individual Column Alignment
  */
}
@media (max-width: 599px) {
  .wp-block-column {
    flex-basis: 100% !important;
  }
}
@media (min-width: 600px) and (max-width: 781px) {
  .wp-block-column:not(:only-child) {
    flex-basis: calc(50% - 1em) !important;
    flex-grow: 0;
  }
  .wp-block-column:nth-child(even) {
    margin-left: 2em;
  }
}
@media (min-width: 782px) {
  .wp-block-column {
    flex-basis: 0;
    flex-grow: 1;
  }
  .wp-block-column[style*=flex-basis] {
    flex-grow: 0;
  }
  .wp-block-column:not(:first-child) {
    margin-left: 2em;
  }
}
.wp-block-column.is-vertically-aligned-top {
  align-self: flex-start;
}
.wp-block-column.is-vertically-aligned-center {
  -ms-grid-row-align: center;
      align-self: center;
}
.wp-block-column.is-vertically-aligned-bottom {
  align-self: flex-end;
}
.wp-block-column.is-vertically-aligned-top, .wp-block-column.is-vertically-aligned-center, .wp-block-column.is-vertically-aligned-bottom {
  width: 100%;
}


/* gutenberg & layout sizes */
.wrap-width,
.entry-content {
    --content-max-width:100%;
}
@media (min-width:768px) {
    .wrap-width,
    .entry-content {
        --content-max-width:640px;
    }
}
@media (min-width:992px) {
    .wrap-width,
    .entry-content > * {
        --content-max-width:860px;
    }
}
@media (min-width:1200px) {
    .wrap-width,
    .entry-content > * {
        --content-max-width:1100px;
    }
}
@media (min-width:1400px) {
    .wrap-width,
    .entry-content > * {
        --content-max-width:1250px;
    }
}

.wrap-width,
.entry-content > * {
    width:100%;
    max-width:var(--content-max-width);
    margin-left:auto!important;
    margin-right:auto!important;
    padding-left:15px;
    padding-right:15px;
    box-sizing:border-box;
}
.entry-header {
    margin-bottom:50px;
}

/* full-width blocks > .alignfull */
.entry-content > .alignfull {
    max-width:none;
    padding:40px 0;
}
.entry-content > .alignfull > .wp-block-column:first-child {
    padding-left:15px;
}
.entry-content > .alignfull > .wp-block-column:last-child {
    padding-right:15px;
}
@media (max-width:599px) {
    .entry-content > .alignfull > .wp-block-column {
        padding-left:15px;
        padding-right:15px;
    }
}
.entry-content > figure.alignfull {
    padding:0;
}

/* full-width blocks > .alignwide */
.entry-content > .alignwide {
    max-width:none;
    margin:0;
    padding:40px calc( ( 100% - var(--content-max-width) ) / 2 + 15px )!important;
}


/* gutenberg improvements */
@media (min-width:600px) {
    body .wp-block-columns {
        flex-wrap:nowrap;
    }
}
@media (max-width:599px) {
    body .wp-block-column:not(:first-child) {
        margin-top:28px;
    }
}
body .entry-content .wp-block-image {
    margin-top:0;
    margin-bottom:16px;
}

.wp-block-column > *:first-child {
    margin-top:17px!important;
}
.wp-block-column.has-background {
    padding:20px 20px 32px;
}

/* default theme colors & fonts-sizes for gutenberg ++ move to variables or better print from array */
.has-white-background-color { background-color:#fff }
.has-white-color   { color:#fff!important }
.has-white-color * { color:#fff }
.has-black-background-color { background-color:#000 }
.has-black-color   { color:#000!important }
.has-black-color * { color:#000 }
.has-fct-1-dark-1-background-color { background-color:#23667b }
.has-fct-1-dark-1-color   { color:#23667b!important }
.has-fct-1-dark-1-color * { color:#23667b }
.has-fct-1-dark-2-background-color { background-color:#277888 }
.has-fct-1-dark-2-color   { color:#277888!important }
.has-fct-1-dark-2-color * { color:#277888 }
.has-fct-1-dark-3-background-color { background-color:#58acbc }
.has-fct-1-dark-3-color   { color:#58acbc!important }
.has-fct-1-dark-3-color * { color:#58acbc }
.has-fct-1-dark-4-background-color { background-color:#0087a0 }
.has-fct-1-dark-4-color   { color:#0087a0!important }
.has-fct-1-dark-4-color * { color:#0087a0 }
.has-fct-1-dark-5-background-color { background-color:#dfc082 }
.has-fct-1-dark-5-color   { color:#dfc082!important }
.has-fct-1-dark-5-color * { color:#dfc082 }
.has-fct-1-light-1-background-color { background-color:#87c8d3 }
.has-fct-1-light-1-color   { color:#87c8d3!important }
.has-fct-1-light-1-color * { color:#87c8d3 }
.has-fct-1-warning-1-background-color { background-color:#fda7a7 }
.has-fct-1-warning-1-color   { color:#fda7a7!important }
.has-fct-1-warning-1-color * { color:#fda7a7 }
.has-fct-1-grey-1-background-color { background-color:#22262c }
.has-fct-1-grey-1-color   { color:#22262c!important }
.has-fct-1-grey-1-color * { color:#22262c }
.has-fct-1-grey-2-background-color { background-color:#2f3339 }
.has-fct-1-grey-2-color   { color:#2f3339!important }
.has-fct-1-grey-2-color * { color:#2f3339 }
.has-fct-1-grey-3-background-color { background-color:#2c3538 }
.has-fct-1-grey-3-color   { color:#2c3538!important }
.has-fct-1-grey-3-color * { color:#2c3538 }
.has-fct-1-grey-4-background-color { background-color:#d3d7da }
.has-fct-1-grey-4-color   { color:#d3d7da!important }
.has-fct-1-grey-4-color * { color:#d3d7da }
/* a copy of the following is in /gutenberg/settings.php */
.has-fct1-gradient-1-gradient-background { background:linear-gradient(60deg, #277888 10%, #58acbc 90%) }
.has-fct1-gradient-2-gradient-background { background:linear-gradient(240deg, #fce0a9 20%, #d3af69 90%) }

.has-f-12-font-size { font-size:12px }
.has-f-15-font-size { font-size:15px }
.has-f-16-font-size { font-size:16px }
.has-f-18-font-size { font-size:18px }
.has-f-20-font-size { font-size:20px }
.has-f-22-font-size { font-size:22px }
.has-f-26-font-size { font-size:26px }
.has-f-30-font-size { font-size:30px }
.has-f-32-font-size { font-size:32px }
.has-f-46-font-size { font-size:46px }

/* breadcrumbs */
.yoast-breadcrumbs,
.rank-math-breadcrumb {
    position:absolute;
    bottom:0;
}
.yoast-breadcrumbs *,
.rank-math-breadcrumb * {
    font-size:14px;
    font-weight:400;
    text-decoration:none;
}
